---
layout: page
# The Category layout
---

{% include lang.html %}

<div id="page-category">
  <h1 class="ps-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ page.posts | size }}</span>
  </h1>

  {% assign tag_order = "in stock,coming soon" | split: ',' %}

  {% assign sorted_posts = page.posts | sort: 'title' %} 

  {% assign sorted_posts = sorted_posts | sort: "tags" %} 

  {% assign sorted_posts_by_tag = "" | split: "" %}

  {% for tag in tag_order %}
    {% for post in sorted_posts %}
      {% if post.tags contains tag %}
        {% assign sorted_posts_by_tag = sorted_posts_by_tag | push: post %}
      {% endif %}
    {% endfor %}
  {% endfor %}

  <ul class="content ps-0">
    {% for post in sorted_posts_by_tag %}
      <li class="d-flex justify-content-between px-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        {{ post.description }}
        |
        {{ post.tags[0] }}
      </li>
    {% endfor %}
  </ul>
</div>