---
layout: default
refactor: true
panel_includes:
  - toc
tail_includes:
  - related-posts
  - post-nav
  - comments
---

{% include lang.html %}

<article class="px-1">
  <header>
    <h1 data-toc-skip>{{ page.title }}</h1>
    {% if page.description %}
      <p class="post-desc fw-light mb-4">{{ page.description }}</p>
    {% endif %}

    <div class="post-meta text-muted">
      <!-- published date -->
      <span>
        {{ site.data.locales[lang].post.posted }}
        {% include datetime.html date=page.date tooltip=true lang=lang %}
      </span>

      <!-- lastmod date -->
      {% if page.last_modified_at and page.last_modified_at != page.date %}
        <span>
          {{ site.data.locales[lang].post.updated }}
          {% include datetime.html date=page.last_modified_at tooltip=true lang=lang %}
        </span>
      {% endif %}
       <div class="content">
        <p style='size: 28px; color: #000000;'>
          <strong>
            price: {{ page.description }}
          </strong>
        </p>
        <p style='size: 28px; color: #000000;'>
          <strong> 
            status: {{ page.tags[0] }}, {{ page.tags[1] }}
          </strong>
        </p>
       </div>

      <!-- thumbnail -->
      {% if page.image %}
        {% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %}
        {% capture class %}class="preview-img{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
        {% capture alt %}alt="{{ page.image.alt | xml_escape | default: "Preview Image" }}"{% endcapture %}

        {% if page.image.lqip %}
          {%- capture lqip -%}lqip="{{ page.image.lqip }}"{%- endcapture -%}
        {% endif %}

        <div class="mt-3 mb-3">

          <img {{ src }} {{ class }} {{ alt }} w="1200" h="630" {{ lqip }}>
          {%- if page.image.alt -%}
            <figcaption class="text-center pt-2 pb-2">{{ page.image.alt }}</figcaption>
          {%- endif -%}
        </div>
      {% endif %}


      <div class="d-flex justify-content-between">
        <!-- author(s) -->
        <div>
          <!-- pageviews -->
<!--          {% if site.pageviews.provider and site.analytics[site.pageviews.provider].id %}
            <span>
              <em id="pageviews">
                <i class="fas fa-spinner fa-spin small"></i>
              </em>
              {{ site.data.locales[lang].post.pageview_measure }}
            </span>
          {% endif %}
-->
          <!-- read time  % include read-time.html content=content prompt=true lang=lang % -->
        </div>
      </div>
    </div>
  

    <!-- images -->
<!--     {% if page.images-array %}
    {% for img in page.images-array %}
      {% capture src %}src="{{ img.path | default: img }}"{% endcapture %}
      {% capture class %}class="preview-img{% if imgno_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
      {% capture alt %}alt="{{ img.alt | xml_escape | default: "Preview Image" }}"{% endcapture %}

      {% if imglqip %}
        {%- capture lqip -%}lqip="{{ img.lqip }}"{%- endcapture -%}
      {% endif %}

      <div>

        <img {{ src }} {{ class }} {{ alt }} w="1200" h="1200" {{ lqip }}>
        {%- if img.alt -%}
          <figcaption class="text-center pt-2 pb-2">{{ img.alt }}</figcaption>
        {%- endif -%}
      </div>
    {% endfor %}
    {% endif %}
 -->

   <div class="content">
    {{ content }}
  </div>
       {% if page.photos %}
        {% include image_gallery.html photos=page.photos %}
      {% endif %}


  <!-- Green Box Content -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <div class="green-box">
      <p><i class="fa-solid fa-dolly fa-lg green-dolly-icon"></i> 
        <strong> &nbsp;
          Click 
        <!-- <a href="mailto:hi@meimei.lol" style='color:##ff8f33;font-size:20px;text-decoration: underline;'> -->
        <a href="mailto:plants@meimei.lol?subject={{ page.title | url_encode }}&body=Hi,%0D%0A%0D%0AI'd like to purchase {{ page.title }}, {{ page.description }}. I'd like to pick them up at [insert your preferred public pick-up location and time here]." style='color:##ff8f33;font-size:20px;text-decoration: underline;'>here
        </a>

          to reserve it and arrange a pick up time and location.</strong></p>
      <p> <strong>Pick up location:</strong></p>
      
      <p> Newark (94560): Mon-Fri 9AM - 6PM</p>
      <p> Southbay Area (Cupertino/Sunnyvale): Mon-Fri before 8:40AM/after 6:30PM & Sat & Sun</p>
      <p> I am most active in Newark during the week, as well as in the Cupertino and Sunnyvale areas.</p>
      <p> I am happy to arrange drop-off or pick-up in other locations if they are on the way to my destinations :)</p>
    </div>




  </header>

  <div class="post-tail-wrapper text-muted">
    <!-- categories -->
    {% if page.categories.size > 0 %}
      <div class="post-meta mb-3">
        <i class="far fa-folder-open fa-fw me-1"></i>
        {% for category in page.categories %}
          <a href="{{ site.baseurl }}/categories/{{ category | slugify | url_encode }}/">{{ category }}</a>
          {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      </div>
    {% endif %}

    <!-- tags -->
    {% if page.tags.size > 0 %}
      <div class="post-tags">
        <i class="fa fa-tags fa-fw me-1"></i>
        {% for tag in page.tags %}
          <a
            href="{{ site.baseurl }}/tags/{{ tag | slugify | url_encode }}/"
            class="post-tag no-text-decoration"
          >
            {{- tag -}}
          </a>
        {% endfor %}
      </div>
    {% endif %}

    <div
      class="
        post-tail-bottom
        d-flex justify-content-between align-items-center mt-5 pb-2
      "
    >
      <div class="license-wrapper">
        {% if site.data.locales[lang].copyright.license.template %}
          {% capture _replacement %}
        <a href="{{ site.data.locales[lang].copyright.license.link }}">
          {{ site.data.locales[lang].copyright.license.name }}
        </a>
        {% endcapture %}

          {{ site.data.locales[lang].copyright.license.template | replace: ':LICENSE_NAME', _replacement }}
        {% endif %}
      </div>

      <!-- % include post-sharing.html lang=lang % -->
    </div>
    <!-- .post-tail-bottom -->
  </div>
  <!-- div.post-tail-wrapper -->
</article>
